* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
section {
  min-height: 50px;
  margin: 50px 0px;
  padding: 20px 5px;
  // overflow-x: hidden;
}

main {
  header {
    background-color: tomato;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 5px black;
    top: 0;
    nav {
      display: grid;
      padding: 10px 20px;
      grid-template-columns: 1fr 1fr 1fr auto;
      grid-template-areas: "logo ul search user";
      @include large-screen {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "logo search"
          "ul user";
      }
      @include medium-screen {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "logo search"
          "ul user";
      }

      @include small-screen {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "logo search"
          "ul user";
      }

      .logo {
        grid-area: logo;
        a {
          @include large-screen {
            display: inline-block;
            padding-bottom: 10px;
          }
          @include small-screen {
            display: inline-block;
            padding-bottom: 10px;
            font-size: 20px;
          }
          font-size: 30px;
          text-decoration: none;
          color: white;
        }
      }

      ul {
        @include large-screen {
          gap: 0px;
          justify-content: start;
        }
        @include small-screen {
          flex-wrap: wrap;
          justify-content: start;
          gap: 0px 5px;
        }
        a {
          @include medium-screen {
            font-size: 12px;
          }
          @include small-screen {
            font-size: 12px;
          }
          text-decoration: none;
          color: white;
          transition: all 0.3s;
          &:hover {
            color: black;
          }
          @include large-screen {
            padding-right: 10px;
          }
        }
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px 20px;
        grid-area: ul;
        padding: 0px;
        margin: 0px;
      }
      .search {
        @include large-screen {
          padding-bottom: 10px;
          justify-content: end;
        }
        @include medium-screen {
          justify-content: end;
          transform: translateX(20px);
          padding-bottom: 10px;
        }
        @include small-screen {
          transform: translateX(20px);
          padding-bottom: 10px;
          justify-content: end;
        }
        grid-area: search;
        display: flex;
        justify-content: center;
        input {
          @include small-screen {
            width: 150px;
          }
          padding: 0px 7px;
          width: 200px;
          border: none;
          outline: none;
          border-radius: 8px;
          transition: all 0.5s ease;
          &:focus {
            @include small-screen {
              width: 170px;
            }
            width: 250px;
          }
        }
        i {
          padding: 2px 6px;
          background-color: white;
          border-radius: 10%;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black;
          transform: translateX(-28px);
          &:hover {
            cursor: pointer;
          }
        }
      }
      .log_sign {
        @include large-screen {
          justify-content: end;
          padding-right: 28px;
        }
        @include medium-screen {
          justify-content: end;
          padding-right: 10px;
        }
        @include small-screen {
          justify-content: end;
          padding-right: 10px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px 15px;
        a {
          @include large-screen {
            padding: 5px 23px;
          }
          @include medium-screen {
            padding: 7px 23px;
          }

          padding: 5px 10px;
          background-color: white;
          border-radius: 15px;
          text-decoration: none;
          color: black;
          &:hover {
            background-color: rgba(255, 255, 255, 0.686);
          }
        }
      }
    }
  }

  .more_populer {
    background-color: tomato;
    // padding: 10px 20px;
    .content {
      display: grid;
      grid-template-columns: 49% 49%;
      grid-template-areas: "left right";
      gap: 0px 20px;
      @include medium-screen {
        grid-template-columns: none;
        grid-template-rows: 40% 40&;
        grid-template-areas:
          "right"
          "left";
        gap: 20px 0px;
      }
      @include small-screen {
        grid-template-columns: none;
        grid-template-rows: 40% 40%;
        grid-template-areas:
          "right"
          "left";
        gap: 20px 0px;
      }
      .right_box {
        grid-area: right;
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
        flex-grow: 1;
        @include medium-screen {
          justify-content: center;
        }
        .title {
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 15px;
          border-radius: 15px;
          font-size: 25px;
          color: tomato;
          font-weight: bold;
        }

        .images {
          height: 400px;
          width: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          gap: 5px 5px;
          background-color: white;
          border-radius: 5px;

          .top {
            display: flex;
            width: 50%;
            height: 50%;
            gap: 0px 5px;
            img {
              border-radius: 5px;
              animation: infinite alternate linear 10s scall;
              width: 100%;
              height: 100%;
            }
          }

          .buttom {
            display: flex;
            gap: 0px 5px;
            width: 50%;
            height: 50%;
            width: 50%;
            img {
              border-radius: 5px;
              animation: infinite linear alternate 10s scall-1;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .left_box {
        grid-area: left;
        gap: 30px 0px;
        display: flex;
        flex-direction: column;
        .title-2 {
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 15px;
          border-radius: 15px;
          font-size: 25px;
          color: tomato;
          font-weight: bold;
        }

        .box-download {
          display: flex;
          flex-wrap: wrap;
          gap: 7px 10px;
          justify-content: center;
          .box_detals {
            background-color: white;
            border-radius: 15px 15px 0px 0px;
            display: flex;
            @include large-screen {
              width: 175px;
            }
            @include medium-screen {
              width: 100px;
              flex-wrap: wrap;
            }
            @include small-screen {
              width: 140px;
            }
            width: 100px;
            flex-grow: 1;
            flex-direction: column;
            gap: 10px 0px;
            img {
              overflow: hidden;
              @include large-screen {
                height: 190px;
              }
              @include medium-screen {
                height: 150px;
              }

              height: 210px;
              border-radius: 15px 15px 0px 0px;
            }
            .detals-1 {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0px 5px;
              h3 {
                font-size: 25px;
                margin: 0px;
                font-weight: 400;
              }
              .rate {
                font-size: 9px;
                color: goldenrod;
              }
            }
            p {
              font-size: 16px;
              padding-left: 5px;
              span {
                color: goldenrod;
              }
            }
          }
        }
      }
    }
  }

  .all_games {
    .see-more {
      margin: 0px 120px;
      a {
        border-radius: 18px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        background-color: tomato;
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: all 0.3s;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    .total {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      margin-top: 50px;
      gap: 0px 20px;
      @include large-screen {
        gap: 20px 30px;
        padding: 20px 20px;
      }
      overflow: hidden;
      justify-content: center;

      .box_game {
        margin-bottom: 20px;
        @include large-screen {
          width: 230px;
          flex-grow: 1;
        }
        @include medium-screen {
          flex-grow: 1;
          width: 245px;
        }
        @include small-screen {
          width: 450px;
          flex-grow: 0;
        }
        transition: all 0.3s;
        &:hover {
          transform: scale(1.02);
          cursor: pointer;
        }
        overflow: hidden;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
        width: 300px;
        background-color: tomato;
        border-radius: 10px 10px 10px 10px;
        img {
          @include medium-screen {
            height: 180px;
          }
          height: 220px;
          transition: all 0.5s;
          width: 100%;
          border-radius: 10px 10px 0px 0px;
          &:hover {
            transform: scale(1.03);
          }
        }
        .details {
          padding: 0px 10px;
          display: flex;
          justify-content: space-between;
          h2 {
            color: white;
            font-size: 18px;
          }
          p {
            font-size: 20px;
          }
        }
        .rate {
          padding: 0px 10px;
          i {
            color: yellow;
            font-size: 12px;
          }
        }
        .more_info {
          padding: 10px 10px;
          display: flex;
          justify-content: space-between;
          a {
            padding: 7px 20px;
            background-color: white;
            text-decoration: none;
            border-radius: 15px;
            color: black;
            transition: all 0.2s;
            &:hover {
              transform: scale(1.05);
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }
  .subscript {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title {
      h1 {
        text-align: center;
        font-size: 40px;
        text-transform: capitalize;
        color: #4682b4;
        text-shadow: 0px 8px 6px black;
        margin-bottom: 100px;
      }
    }
    .offers {
      display: flex;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;

      #premium_plus {
        transform: scale(1.05);
        @include large-screen {
          transform: none;
          gap: 19px 0px;
        }
        @include medium-screen {
          transform: none;
          gap: 20px;
        }
        @include small-screen {
          transform: none;
        }
      }
      .offer {
        @include large-screen {
          width: 306px;
          // flex-grow: 1;
        }
        @include medium-screen {
          width: 220px;
        }
        @include small-screen {
          flex-grow: 1;
        }
        width: 370px;
        border-radius: 15px;
        padding: 10px 10px;
        box-shadow: 0px 2px 5px #4682b4;
        border: 2px solid #4682b4;
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        margin-bottom: 20px;
        h2 {
          @include medium-screen {
            font-size: 20px;
          }
          text-align: center;
          font-size: 40px;
          text-transform: capitalize;
          color: #4682b4;
        }
        .option-no {
          font-size: 15px;
          transform: translateX(20px);
          color: gray;
          display: flex;

          i {
            padding-right: 10px;
            padding-top: 5px;
            color: gray;
            @include medium-screen {
              transform: translateX(-10px);
            }
            @include large-screen {
              transform: translateX(-18px);
            }
            @include small-screen {
              transform: translateX(-10px);
            }
          }

          p {
            font-size: 14px;
            padding-right: 10px;
            @include medium-screen {
              font-size: 12px;
              transform: translateX(-18px);
              padding-top: 5px;
            }
            @include large-screen {
              transform: translateX(-10px);
              padding-top: 5px;
            }
          }
        }
        .option {
          transform: translateX(20px);
          display: flex;
          gap: 15px 0px;
          @include large-screen {
            transform: translateX(15px);
          }
          i {
            padding-right: 18px;
            padding-top: 5px;
            color: #4682b4;
            transform: translateX(-10px);
          }
          p {
            @include medium-screen {
              font-size: 12px;
              transform: translateX(-18px);
              padding-top: 5px;
            }
            @include large-screen {
              transform: translateX(-15px);
              padding-top: 5px;
            }
            @include small-screen {
              transform: translateX(-15px);
              padding-top: 5px;
            }
            font-size: 15px;
            text-transform: capitalize;
          }
        }
        .price {
          text-align: center;
          p {
            font-size: 35px;
            color: #4682b4;
            margin-bottom: 40px;
          }
          a {
            @include medium-screen {
              padding: 10px 100px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            text-decoration: none;
            color: black;
            padding: 10px 120px;
            outline: 1px solid black;
            border-radius: 15px;
            transition: all 0.5s;
            &:hover {
              background-color: #4682b4;
              color: white;
              outline: none;
            }
          }
        }
      }
    }
  }
}
