.main-pes13 {
  background-color: #f5f7f8;
  .game-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px 0px;
    margin: 55px 80px;
    @include large-screen {
      margin-top: 100px;
    }
    @include small-screen {
      margin: 55px 10px;
    }
    @include medium-screen {
      margin: 55px 10px;
    }
    .game-info {
      @include medium-screen {
        flex-wrap: wrap;
        gap: 40px 0px;
      }
      @include small-screen {
        flex-wrap: wrap;
        gap: 40px 0px;
        margin-top: 70px;
      }
      display: flex;
      justify-content: space-around;
      gap: 0px 70px;
      .game-details {
        @include large-screen {
          width: 55%;
        }
        @include medium-screen {
          width: 100%;
          padding: 30px 3px;
        }
        @include small-screen {
          width: 100%;
          padding: 30px 3px;
        }
        width: 70%;
        padding: 30px;
        background-color: #eeedeb;
        display: flex;
        flex-direction: column;
        .video {
          video {
            width: 100%;
          }
        }

        .images {
          display: flex;
          gap: 10px;
          img {
            width: 20px;
            height: auto;
            flex-grow: 1;
          }
        }
      }

      .game-order {
        width: 30%;
        display: flex;
        flex-direction: column;
        background-color: #eeedeb;
        align-self: flex-start;
        gap: 20px 0px;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px black;
        position: sticky;
        top: 80px;
        @include large-screen {
          top: 120px;
        }
        @include medium-screen {
          width: 100%;
        }
        @include small-screen {
          width: 100%;
        }
        .game-name {
          h1 {
            font-size: 40px;
          }
        }
        .game-salary {
          p {
            font-size: 30px;
          }
        }

        .game-preorder {
          width: 100%;
          background-color: #5a639c;
          padding: 10px 0px;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          transition: all 0.3s;
          &:hover {
            opacity: 0.8;
          }
          a {
            padding: 0px 150px;
            text-decoration: none;
            color: white;
          }
        }
        .type {
          width: 100%;
          margin-bottom: 50px;
          label {
            display: inline-block;
            margin-bottom: 7px;
          }
          select {
            width: 100%;
            padding: 10px 0px;
            border: none;
            background-color: #7776b3;
            font-size: 17px;
            border-radius: 7px;
            color: white;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .game-story {
      h1 {
        margin-bottom: 20px;
        font-size: 30px;
      }
      p {
        line-height: 2;
      }
    }
  }
}
