* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

:root {
  --background-color: hsl(13, 100%, 72%);
  --text-hover: hsl(356, 100%, 66%);
  --font-family-ubuntu: "Ubuntu", sans-serif;
  --font-family-overpass: "Overpass", sans-serif;
  --text-or-main-color: hsl(0, 0%, 100%);
  --head-color: hsl(208, 49%, 24%);
  --footer-text: hsl(240, 2%, 79%);
  --text-of-head-color: hsl(207, 13%, 34%);
  --footer-background: hsl(240, 10%, 16%);
  --content-head: hsl(237, 23%, 32%);
  --mobile-background: hsl(237, 17%, 21%);
  --font-size: 16px;
}
/* *******************global elements*********************** */
section {
  padding: 20px 150px;
  min-height: 0.615em;
  margin-bottom: 100px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-ubuntu);
  margin-bottom: 80px;
}

h1 {
  font-family: "Overpass", sans-serif;
  color: var(--text-or-main-color);
  font-size: 40px;
  margin-bottom: -5px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  color: var(--head-color);
  margin-bottom: -5px;
}

h3 {
  color: var(--head-color);
  margin-bottom: 20px;
  font-family: "Overpass", sans-serif;
}

p {
  line-height: 30px;
  color: var(--text-of-head-color);
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-or-main-color);
  font-size: var(--font-size);
  margin: 0px 3px;
  font-weight: 500;
}

span {
  margin-left: 5px;
}
/* ************************************************** */
/* ************************section-1****************** */
.section-1 {
  background-color: hsl(13, 100%, 72%);
  border-radius: 0px 0px 0px 100px;
  background-image: url(images/bg-pattern-intro-desktop.svg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 140px -600px;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-header img {
  padding-right: 40px;
}

.span1 a {
  background-color: var(--text-or-main-color);
  color: var(--text-hover);
  border-radius: 20px;
  padding: 10px 25px;
  font-family: var(--font-family-ubuntu);
}

.span1 a:hover {
  background-color: hsla(356, 100%, 66%, 0.629);
  border-radius: 20px;
  padding: 10px 25px;
  color: var(--text-or-main-color);
}

.span2 a {
  background-color: hsla(356, 100%, 66%, 0.629);
  color: var(--text-or-main-color);
  border-radius: 20px;
  padding: 10px 25px;
  font-family: var(--font-family-ubuntu);
}

.span2 a:hover {
  background-color: var(--text-or-main-color);
  color: var(--text-hover);
  border-radius: 20px;
  padding: 10px 25px;
}

.section-1 .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-or-main-color);
}

.details p {
  font-family: "Overpass", sans-serif;
  font-family: var(--font-family-overpass);
  margin-bottom: 120px;
  margin-top: 10px;
  color: var(--text-color);
}

.section-1 .details-links {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.section-1 .details-links a {
  border: 2px solid var(--text-or-main-color);
}

/* ************************************************** */
/* ************************section-2****************** */

.section-2 .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .left-div div {
  margin-bottom: 70px;
}

.content .right-div img {
  width: 700px;
  transform: translateX(280px);
}
/* ************************************************** */
/* ************************section-3****************** */

.mobile {
  background-color: var(--mobile-background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 150px 0px 150px;
  background-image: url(images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -100px -500px;
  height: 400px;
  overflow: visible;
}

.left-mobile img {
  width: 550px;
  transform: translateY(30px);
}

.right-mobile {
  margin-left: 50px;
  padding-right: 160px;
  font-family: "Overpass", sans-serif;
  color: var(--text-color);
}

.right-mobile p {
  margin-top: 30px;
  font-weight: 200;
  margin-left: 27px;
}

.right-mobile h2 {
  font-size: 30px;
  color: var(--text-or-main-color);
}

/* ************************************************** */
/* ************************section-3****************** */

.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

.services div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.right-service {
  transform: translateX(-80px);
}

.services img {
  width: 700px;
  transform: translateX(-350px);
}
/* ************************************************** */
/* ************************footer****************** */

footer {
  padding: 60px 150px;
  min-height: 0.615em;
  background-color: var(--footer-background);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0px 100px 0px 0px;
  color: var(--footer-text);
}

footer div a span {
  text-shadow: 0px 0px 5px var(--text-or-main-color);
  display: flex;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ************************************************** */
