* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

section {
  min-height: 50px;
  margin: 50px 0px;
  padding: 20px 5px;
  overflow-x: hidden;
}

main header {
  background-color: tomato;
}
main header nav {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-areas: "logo ul search user";
}
@media (min-width: 769px) and (max-width: 1024px) {
  main header nav {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo search" "ul user";
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  main header nav {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo search" "ul user";
  }
}
@media (max-width: 600px) {
  main header nav {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo search" "ul user";
  }
}
main header nav .logo {
  grid-area: logo;
}
main header nav .logo a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main header nav .logo a {
    display: inline-block;
    padding-bottom: 10px;
  }
}
@media (max-width: 600px) {
  main header nav .logo a {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
main header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 20px;
  grid-area: ul;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main header nav ul {
    gap: 0px;
    justify-content: start;
  }
}
@media (max-width: 600px) {
  main header nav ul {
    flex-wrap: wrap;
    justify-content: start;
    gap: 0px 5px;
  }
}
main header nav ul a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
@media (min-width: 601px) and (max-width: 768px) {
  main header nav ul a {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  main header nav ul a {
    font-size: 12px;
  }
}
main header nav ul a:hover {
  color: black;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main header nav ul a {
    padding-right: 10px;
  }
}
main header nav .search {
  grid-area: search;
  display: flex;
  justify-content: center;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main header nav .search {
    padding-bottom: 10px;
    justify-content: end;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  main header nav .search {
    justify-content: end;
    transform: translateX(20px);
    padding-bottom: 10px;
  }
}
@media (max-width: 600px) {
  main header nav .search {
    transform: translateX(20px);
    padding-bottom: 10px;
    justify-content: end;
  }
}
main header nav .search input {
  padding: 0px 7px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 8px;
  transition: all 0.5s ease;
}
@media (max-width: 600px) {
  main header nav .search input {
    width: 150px;
  }
}
main header nav .search input:focus {
  width: 250px;
}
@media (max-width: 600px) {
  main header nav .search input:focus {
    width: 170px;
  }
}
main header nav .search i {
  padding: 2px 6px;
  background-color: white;
  border-radius: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform: translateX(-28px);
}
main header nav .search i:hover {
  cursor: pointer;
}
main header nav .log_sign {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 15px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main header nav .log_sign {
    justify-content: end;
    padding-right: 28px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  main header nav .log_sign {
    justify-content: end;
    padding-right: 10px;
  }
}
@media (max-width: 600px) {
  main header nav .log_sign {
    justify-content: end;
    padding-right: 10px;
  }
}
main header nav .log_sign a {
  padding: 5px 10px;
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main header nav .log_sign a {
    padding: 5px 23px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  main header nav .log_sign a {
    padding: 7px 23px;
  }
}
main header nav .log_sign a:hover {
  background-color: rgba(255, 255, 255, 0.686);
}
main .more_populer {
  background-color: tomato;
  display: flex;
  flex-direction: column;
}
main .more_populer .title h1 {
  color: tomato;
  background-color: white;
  padding: 10px 0px;
  margin: 0px 120px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 15px;
}
main .more_populer .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 0px;
}
main .more_populer .content .right_box {
  grid-area: right_box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
main .more_populer .content .right_box h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-indent: 100px;
  font-size: 15px;
}
main .more_populer .content .right_box .populer_games {
  gap: 20px 20px;
  border-radius: 15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
main .more_populer .content .right_box .populer_games .box-pop {
  border-radius: 15px;
  border: 2px solid white;
  width: 280px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px 0px;
}
@media (max-width: 600px) {
  main .more_populer .content .right_box .populer_games .box-pop {
    flex-grow: 1;
    margin: 0px 70px;
  }
}
main .more_populer .content .right_box .populer_games .box-pop img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
main .more_populer .content .right_box .populer_games .box-pop a {
  padding: 10px 25px;
  outline: 2px solid black;
  text-decoration: none;
  border-radius: 18px;
}
main .more_populer .content .right_box .populer_games .box-pop:hover {
  transform: scale(1.03);
}
main .left_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
}
main .left_box h1 {
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 50px;
  padding-left: 7px;
}
main .left_box .most_down {
  width: 270px;
  border-radius: 15px;
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
main .left_box .most_down img {
  width: 100px;
  height: 80px;
}
main .left_box .most_down .detals_down {
  display: flex;
  flex-direction: column;
  gap: 7px 0px;
}
main .left_box .most_down .detals_down h4 {
  color: black;
  font-size: 20px;
}
main .left_box .most_down .detals_down p {
  font-size: 14px;
}
main .left_box .most_down .detals_down .rate i {
  font-size: 12px;
  color: gold;
}
main .all_games .see-more a {
  margin: 0px 120px;
  border-radius: 18px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background-color: tomato;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}
main .all_games .see-more a:hover {
  opacity: 0.9;
}
main .all_games .total {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 50px;
  gap: 0px 20px;
  overflow: hidden;
  justify-content: center;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .all_games .total {
    gap: 20px 30px;
    padding: 20px 20px;
  }
}
main .all_games .total .box_game {
  margin-bottom: 20px;
  transition: all 0.3s;
  overflow: hidden;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  width: 300px;
  background-color: tomato;
  border-radius: 10px 10px 10px 10px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .all_games .total .box_game {
    width: 230px;
    flex-grow: 1;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  main .all_games .total .box_game {
    flex-grow: 1;
    width: 245px;
  }
}
@media (max-width: 600px) {
  main .all_games .total .box_game {
    width: 450px;
    flex-grow: 0;
  }
}
main .all_games .total .box_game:hover {
  transform: scale(1.02);
  cursor: pointer;
}
main .all_games .total .box_game img {
  height: 220px;
  transition: all 0.5s;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
@media (min-width: 601px) and (max-width: 768px) {
  main .all_games .total .box_game img {
    height: 180px;
  }
}
main .all_games .total .box_game img:hover {
  transform: scale(1.03);
}
main .all_games .total .box_game .details {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
main .all_games .total .box_game .details h2 {
  color: white;
  font-size: 18px;
}
main .all_games .total .box_game .details p {
  font-size: 20px;
}
main .all_games .total .box_game .rate {
  padding: 0px 10px;
}
main .all_games .total .box_game .rate i {
  color: yellow;
  font-size: 12px;
}
main .all_games .total .box_game .more_info {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
main .all_games .total .box_game .more_info a {
  padding: 7px 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 15px;
  color: black;
  transition: all 0.2s;
}
main .all_games .total .box_game .more_info a:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
}
main .subscript {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .subscript .title h1 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  color: #4682b4;
  text-shadow: 0px 8px 6px black;
  margin-bottom: 100px;
}
main .subscript .offers {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
main .subscript .offers #premium_plus {
  transform: scale(1.05);
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .subscript .offers #premium_plus {
    transform: none;
    gap: 19px 0px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  main .subscript .offers #premium_plus {
    transform: none;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  main .subscript .offers #premium_plus {
    transform: none;
  }
}
main .subscript .offers .offer {
  width: 370px;
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: 0px 2px 5px #4682b4;
  border: 2px solid #4682b4;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  margin-bottom: 20px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .subscript .offers .offer {
    width: 306px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  main .subscript .offers .offer {
    width: 220px;
  }
}
@media (max-width: 600px) {
  main .subscript .offers .offer {
    flex-grow: 1;
  }
}
main .subscript .offers .offer h2 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  color: #4682b4;
}
@media (min-width: 601px) and (max-width: 768px) {
  main .subscript .offers .offer h2 {
    font-size: 20px;
  }
}
main .subscript .offers .offer .option-no {
  font-size: 15px;
  transform: translateX(20px);
  color: gray;
  display: flex;
}
main .subscript .offers .offer .option-no i {
  padding-right: 10px;
  padding-top: 5px;
  color: gray;
}
@media (min-width: 601px) and (max-width: 768px) {
  main .subscript .offers .offer .option-no i {
    transform: translateX(-10px);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .subscript .offers .offer .option-no i {
    transform: translateX(-18px);
  }
}
@media (max-width: 600px) {
  main .subscript .offers .offer .option-no i {
    transform: translateX(-10px);
  }
}
main .subscript .offers .offer .option-no p {
  font-size: 14px;
  padding-right: 10px;
}
@media (min-width: 601px) and (max-width: 768px) {
  main .subscript .offers .offer .option-no p {
    font-size: 12px;
    transform: translateX(-18px);
    padding-top: 5px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .subscript .offers .offer .option-no p {
    transform: translateX(-10px);
    padding-top: 5px;
  }
}
main .subscript .offers .offer .option {
  transform: translateX(20px);
  display: flex;
  gap: 15px 0px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .subscript .offers .offer .option {
    transform: translateX(15px);
  }
}
main .subscript .offers .offer .option i {
  padding-right: 18px;
  padding-top: 5px;
  color: #4682b4;
  transform: translateX(-10px);
}
main .subscript .offers .offer .option p {
  font-size: 15px;
  text-transform: capitalize;
}
@media (min-width: 601px) and (max-width: 768px) {
  main .subscript .offers .offer .option p {
    font-size: 12px;
    transform: translateX(-18px);
    padding-top: 5px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .subscript .offers .offer .option p {
    transform: translateX(-15px);
    padding-top: 5px;
  }
}
@media (max-width: 600px) {
  main .subscript .offers .offer .option p {
    transform: translateX(-15px);
    padding-top: 5px;
  }
}
main .subscript .offers .offer .price {
  text-align: center;
}
main .subscript .offers .offer .price p {
  font-size: 35px;
  color: #4682b4;
  margin-bottom: 40px;
}
main .subscript .offers .offer .price a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  padding: 10px 120px;
  outline: 1px solid black;
  border-radius: 15px;
  transition: all 0.5s;
}
@media (min-width: 601px) and (max-width: 768px) {
  main .subscript .offers .offer .price a {
    padding: 10px 100px;
  }
}
main .subscript .offers .offer .price a:hover {
  background-color: #4682b4;
  color: white;
  outline: none;
}/*# sourceMappingURL=style.css.map */