@media (max-width: 415px) {
  header {
    width: 420px;
    overflow: hidden;
  }

  section {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
    box-shadow: 0px 0px 0px var(--top-background-color-span-and-filter);
    overflow-x: hidden;
  }

  section .img img {
    width: 70px;
    margin-bottom: 7px;
  }

  .right-div p {
    margin-left: 0px;
    padding-left: 0px;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: start;
    transform: translateY(-50px);
  }

  .right-div {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 60px 0px 0px;
    align-items: flex-start;
  }
}
